body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #292d3e;
}

.Title {
    color: whitesmoke;
}

.gallery-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-image-container {
    margin-bottom: 20px;
}

.main-image-container img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    border: 2px solid #333;
}

.thumbnail-container {
    display: flex;
    gap: 10px;
}

.thumbnail {
    width: 100px;
    height: 75px;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.2s;
}

.thumbnail:hover {
    transform: scale(1.1);
}